<!--
  Generated template for the ParticipantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Participants</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="body-style">
  <ion-list>
    <ion-card ngClass="card-general">
      <ion-item ngClass="mosque-list" *ngFor="let user of userList">
        <ion-row>
          <ion-col col-3 col-md-2>
            <div class="profile-icon">
              <ion-icon name="ios-person"></ion-icon>
            </div>
          </ion-col>
          <ion-col col-9 col-md-10>
            <div ngClass="mosque-name">
              <label>{{ user && user.name }}</label>
            </div>
            <div ngClass="mosque-address">
              <label>{{ user && user.email }}</label>
            </div>
            <div ngClass="mosque-address">
              <label>{{ user && user.mobile }}</label>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>

  <div *ngIf="userList && userList.length>0">
    <ion-buttons>
      <button class="button button-primary rectangle" *ngIf="!isEventEnded" (click)="downloadParticipantsList()">
        <ion-icon ngClass="edit-icon" name="ios-download"></ion-icon>Download Participants List
      </button>
    </ion-buttons>

    <ion-buttons>
      <button class="button button-primary rectangle" *ngIf="isEventEnded" (click)="downloadAttendanceList()">
        <ion-icon ngClass="edit-icon" name="ios-download"></ion-icon>Download Attendance List
      </button>
    </ion-buttons>
  </div>
  <div *ngIf="!userList || userList.length==0">
    <ion-buttons>
      <button class="button button-primary rectangle" [disabled]="true">
        <ion-icon ngClass="edit-icon" name="ios-alert-outline"></ion-icon>No Participants
      </button>
    </ion-buttons>
  </div>
</ion-footer>