<ion-header class="mm-header">
    <ion-navbar>
        <ion-title>Forgot Password</ion-title>
    </ion-navbar>
</ion-header>

<ion-slides [spaceBetween]="3" [parallax]="true" ngClass="body-style">
    <ion-slide ngClass="forgot-pass">
        <img ngClass="empty-bg" src="assets/imgs/pray.png">
        <h2>Forgot Password?</h2>
        <h6>Please Enter Your Email</h6>
        <p>We will send you a verification code</p>
        <form (ngSubmit)="sendVerificationCode()">
            <ion-input ngClass="float-input" type="email" name="email" placeholder="Email" [(ngModel)]="email"
                clearInput></ion-input>

            <ion-label *ngIf="invalidInput && !this.email" ngClass="error-prompt">
                <ion-icon name="alert"></ion-icon>Please input valid email
            </ion-label>
        </form>
        <div *ngIf="!registered">
            <h1>Your email is not registered in TM Saff. Would you like to <a ngClass="sign-up" (click)="registerPage()"><u>Sign
                        up</u></a>?</h1>
        </div>
    </ion-slide>
    <ion-slide *ngIf="emailSuccess">
        <h1>Verification code succesfully sent to {{email}}</h1>
        <h2>Please type the verification code below</h2>
        <form (ngSubmit)="verifyToken()">
            <ion-item ngClass="border-bottom">
                <ion-input type="text" name="code" placeholder="Verification Code" [(ngModel)]="code" clearInput></ion-input>
            </ion-item>
            <ion-label *ngIf="invalidInput && !this.code" ngClass="error-prompt">
                <ion-icon name="alert"></ion-icon>Please input verification code
            </ion-label>
        </form>
        <div *ngIf="failure">
            <h1>Verification code expired or invalid.</h1>
            <ion-buttons>
                <button class="button button-primary rectangle" (click)="sendVerificationCode()">Resend Verification
                    Code</button>
            </ion-buttons>
        </div>
    </ion-slide>
    <ion-slide *ngIf="verifySuccess">
        <div>
            <h1>Code is valid. You may reset your password</h1>
            <form (ngSubmit)="saveResettedPassword()">
                <ion-row>
                    <ion-item ngClass="border-bottom">
                        <ion-input type="password" name="resetPassword" placeholder="New Password" [(ngModel)]="resetPassword"
                            clearInput></ion-input>
                    </ion-item>
                    <ion-label *ngIf="invalidInput && !this.resetPassword" ngClass="error-prompt">
                        <ion-icon name="alert"></ion-icon>Please input new password
                    </ion-label>
                </ion-row>
                <ion-row>
                    <ion-item ngClass="border-bottom">
                        <ion-input type="password" name="resetPassword2" placeholder="Re-Type New Password" [(ngModel)]="resetPassword2"
                            clearInput></ion-input>
                    </ion-item>
                    <ion-label *ngIf="invalidInput && !this.resetPassword2" ngClass="error-prompt">
                        <ion-icon name="alert"></ion-icon>Please re-type new password
                    </ion-label>
                </ion-row>
            </form>
        </div>
    </ion-slide>
    <ion-slide>
        <h1 *ngIf="resetSuccess">Password has been succesfully updated!</h1>
        <h1 *ngIf="serverError">Server Error. Please retry later</h1>
    </ion-slide>
</ion-slides>

<ion-footer>
    <ion-buttons>
        <button class="button button-primary rectangle" (click)="forgotPasswordButton()">{{flowButton}}</button>
    </ion-buttons>
</ion-footer>