<ion-header class="toolbar-mm">
  <ion-toolbar>
    <button class="header-btn" ion-button menuToggle>
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>
    <ion-title>
      Profile
      <page-notification-bell></page-notification-bell>
    </ion-title>
    <ion-buttons end>
      <!--button class="header-btn" ion-button>
      <ion-icon ngClass="header-icon" name="ios-search-outline"></ion-icon>
    </button>
    <button class="header-btn" ion-button (click)="homePage()">
      <ion-icon ngClass="header-icon" name="md-home"></ion-icon>
    </button-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="body-style">

  <div ngClass="details-header">
    <ion-row ngClass="dp-container">
      <div ngClass="pp-container">
        <ion-icon ngClass="profile-pic" name="ios-person"></ion-icon>
      </div>
      <div ngClass="profile-name">
        <h5>{{this.name}}</h5>
        <p>{{this.email}}</p>
        <button (click)="editProfile()">Edit Profile</button>
      </div>
      <div *ngIf="isUserTypeUser" ngClass="seperator-h"></div>
      <div *ngIf="isUserTypeUser" ngClass="profile-points">
        <div ngClass="pts-total">{{this.pointsCollected}}
          <span ngClass="pts-title">pts</span>
        </div>
        <!-- <div ngClass="profile-redeem">Redeem points
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div> -->
      </div>
    </ion-row>
  </div>
  <ion-list *ngIf="events_upcoming && events_upcoming.length>0">
      <div ngClass="item-header">Upcoming</div>
      <ion-card ngClass="card-general" (click)="eventdetailsPage(event, true, i)" *ngFor="let event of events_upcoming; let i = index">
        <ion-item ngClass="events-list">
          <ion-row>
            
            <ion-col col-10 col-md-11>
                <div ngClass="mosque-name">
                  <!-- <label>{{event.category}} - {{event.event_title}}</label> -->
                  <label>{{event.event_title}}</label>
                </div>
                <div ngClass="mosque-address">
                  <label>{{getEventDate(event.event_start_date)}}-{{getEventDate(event.event_end_date)}} |
                    {{(event.mosque_details && event.mosque_details.length>0)?event.mosque_details[0].title:''}}</label>
                </div>
              </ion-col>
              <ion-col col-2 col-md-1>
                  <div ngClass="event-item-right">
                    <div ngClass="quota-total yellow">{{event.points}}
                      <span ngClass="quota-title yellow">pts</span>
                    </div>
                  </div>
                </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    </ion-list>
    <ion-list *ngIf="events_history && events_history.length>0">
        <div ngClass="item-header">History</div>
        <ion-card ngClass="card-general" (click)="eventdetailsPage(event, false)" *ngFor="let event of events_history">
          <ion-item ngClass="events-list">
            <ion-row>
              
              <ion-col col-10 col-md-11>
                  <div ngClass="mosque-name">
                    <!-- <label>{{event.category}} - {{event.event_title}}</label> -->
                    <label>{{event.event_title}}</label>
                  </div>
                  <div ngClass="mosque-address">
                    <label>{{getEventDate(event.event_start_date)}}-{{getEventDate(event.event_end_date)}} |
                      {{(event.mosque_details && event.mosque_details.length>0)?event.mosque_details[0].title:''}}</label>
                  </div>
                </ion-col>
                <ion-col col-2 col-md-1>
                    <div ngClass="event-item-right">
                      <div ngClass="quota-total yellow">{{event.points}}
                        <span ngClass="quota-title yellow">pts</span>
                      </div>
                    </div>
                  </ion-col>
            </ion-row>
          </ion-item>
        </ion-card>
      </ion-list>
</ion-content>