page-home {
    .scroll-content{
        padding-bottom: 60px;
    }
    .badge-md{
        font-size: 5px;
        z-index: 9;
    }
    .searchbar-md .searchbar-input{
        border-radius: 30px;
    }
}
