<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="mm-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons start left>
      <button *ngIf="!isRoot" ion-button (click)="goBack()">
        <ion-icon name="arrow-back" ngClass="back-btn"><span></span></ion-icon>
      </button>
      <button *ngIf="isRoot" class="header-btn" ion-button menuToggle>
        <ion-icon name="ios-menu-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{kariah}} Kariah<page-notification-bell></page-notification-bell>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row ngClass="login-radio no-margin">
    <ion-list ngClass="lang-container no-margin">
      <ion-item>
        <ion-label floating>Full Name</ion-label>
        <ion-input [(ngModel)]="kariahUserFullName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Address Line 1</ion-label>
        <ion-input [(ngModel)]="addressLine1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Address Line 2</ion-label>
        <ion-input [(ngModel)]="addressLine2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Postcode</ion-label>
        <ion-input type="number" [(ngModel)]="postCode"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label floating>Kariah</ion-label>
        <ion-input [(ngModel)]="postCode"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label floating>IC Number</ion-label>
        <ion-input type="number" [(ngModel)]="kariahUserIcnumber"></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item> -->
      <!-- <ion-item>
        <ion-label floating>Age</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label floating>Marital Status</ion-label>
        <ion-select [(ngModel)]="maritalStatus">
          <ion-option value="single">Single</ion-option>
          <ion-option value="married">Married</ion-option>
          <ion-option value="divorce">Divorce</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Occupation</ion-label>
        <ion-input [(ngModel)]="occupation"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label (click)="addUpdatekariahHeir(null)">Add Heirs
          <button ngClass="lookup-icon">

            <ion-icon name="ios-add-outline" role="img" class="icon icon-ios" aria-label="add"></ion-icon>

            <div class="button-effect"></div>
          </button>
        </ion-label>
      </ion-item>

      <ion-item [ngClass]="{'error':locationError}" *ngIf="this.kariahHeirs && this.kariahHeirs.length>0">
        <ion-label>
          <div *ngIf="this.kariahHeirs && this.kariahHeirs.length>0">
            <ion-chip ngClass="ustaz-chip" *ngFor="let k of kariahHeirs; let i = index">
              <ion-label (click)="addUpdatekariahHeir(i)">{{k.h_fullName}} ({{k.h_relation}})</ion-label>
              <button ion-button clear color="light" (click)="deletekariahHeir(i)">
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </ion-chip>
          </div>
        </ion-label>

      </ion-item>

      <ion-item>
        <ion-label>Electric Bill
          <button ngClass="lookup-icon">

            <ion-icon name="ios-camera-outline" role="img" class="icon icon-ios" aria-label="camera"
              (click)="takePhotograph()"></ion-icon>

            <div class="button-effect"></div>
          </button>
          <button ngClass="lookup-icon">

            <ion-icon name="ios-image-outline" role="img" class="icon icon-ios" aria-label="image"
              (click)="selectImage()"></ion-icon>

            <div class="button-effect"></div>
          </button>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="billThumbnail">
        <img src="{{ billThumbnail }}">
      </ion-item>

    </ion-list>
  </ion-row>
  <!-- <ion-label *ngIf="editMode">Note: Fields that are not empty only will get updated</ion-label>
  <ion-label *ngIf="!valid && !editMode" ngClass="error-prompt">All fields are mandatory!</ion-label>
  <ion-label *ngIf="!valid && editMode" ngClass="error-prompt">Nothing to update!</ion-label> -->
</ion-content>

<ion-footer>
  <ion-buttons>
    <button class="button button-primary rectangle" *ngIf="isAdmin">Approve</button>
  </ion-buttons>
  <ion-buttons>
    <button class="button button-primary red rectangle" *ngIf="isAdmin">Reject</button>
  </ion-buttons>
  <ion-buttons>
    <!-- <button class="button button-primary rectangle" *ngIf="!isAdmin" (click)="pay()">Next</button> -->
    <!-- <button class="button button-primary rectangle" *ngIf="!isAdmin" (click)="createKariahUser()">Next</button> -->
    <button class="button button-primary rectangle" *ngIf="!isAdmin" (click)="showConfirm()">{{(editMode)?'Update
      Kariah Membership':'Create Kariah Membership'}}</button>
  </ion-buttons>
</ion-footer>