<ion-content>
    <ion-icon name="close-circle" ngClass="close-popover"></ion-icon>
    <div ngClass="">
        <ion-row ngClass="dp-container">
            <ion-item [ngClass]="{'error':titleError}">
                <ion-label stacked>Current Approval Status</ion-label>
                <ion-input [(ngModel)]="currentApprovalStatus" [readonly]="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>New Approval Comment</ion-label>
                <ion-textarea ngClass="" [(ngModel)]="newApprovalComment"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label stacked *ngIf="currentApprovalStatus!='Pending' ">Current Approval Comment</ion-label>
                <ion-input [(ngModel)]="currentApprovalComment" [readonly]="true" *ngIf="currentApprovalStatus!='Pending' "></ion-input>
            </ion-item>
        </ion-row>
    </div>
    <ion-row>
        <ion-buttons *ngIf="currentApprovalStatus=='Pending' || currentApprovalStatus=='Approved' " ngClass="width-half">
            <button class="button button-primary red rectangle" (click)="sendApprovalUpdate('Rejected')">Reject</button>
        </ion-buttons>
        <ion-buttons *ngIf="currentApprovalStatus=='Pending' || currentApprovalStatus=='Rejected' " ngClass="width-half">
            <button class="button button-primary rectangle" (click)="sendApprovalUpdate('Approved')">Approve</button>
        </ion-buttons>
    </ion-row>
</ion-content>