<ion-header class="mm-header">
  <ion-toolbar *ngIf="!this.navCtrl.canGoBack()">
    <button class="header-btn" ion-button menuToggle>
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>
    <ion-title>Ustaz Profile</ion-title>
  </ion-toolbar>

  <ion-navbar *ngIf="this.navCtrl.canGoBack()">
    <ion-title>Ustaz Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div ngClass="details-header">
    <ion-row ngClass="dp-container">
      <div ngClass="pp-container">
        <ion-icon *ngIf="!userImage" ngClass="profile-pic-default" name="ios-person"></ion-icon>
        <div ngClass="profile-pic">
          <img *ngIf="userImage" src="{{ userImage }}" imageViewer>
        </div>
      </div>
      <div ngClass="profile-name" *ngIf="this.moderator">
        <h5 *ngIf="this.moderator.name">{{this.moderator.name}}</h5>
        <p *ngIf="this.moderator.email">{{this.moderator.email}}</p>
        <button *ngIf="this.userType && this.userType=='USTAZ' && this.userId==this.moderator._id"
          (click)="editProfile()">Edit Profile</button>
        <ion-row ngClass="details-name-container" *ngIf="this.moderator.user_url && this.moderator.user_url.length>0">
          <div ngClass="details-label">Extra info:</div>
          <div ngClass="details-name">
            <div *ngIf="this.moderator.user_url && this.moderator.user_url.length>0">
              <ion-chip *ngFor="let u of this.moderator.user_url; let i = index" (click)="openLink(u)">
                <ion-label>{{u.displayText}}</ion-label>
              </ion-chip>
            </div>
          </div>
        </ion-row>
      </div>
      <div ngClass="seperator-h"></div>
      <div ngClass="profile-points">
        <ion-row ngClass="ustaz-profile">
          <div ngClass="details-label">Overall Ratings</div>
          <div *ngIf="this.userType && this.userType=='USER'" ngClass="profile-redeem" (click)="popoverRating($event)">
            Rates Your Ustaz
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </div>
        </ion-row>
        <ion-row ngClass="rate-star">
          <ion-icon *ngFor="let fs of this.fullStaryArray" name="md-star"></ion-icon>
          <ion-icon *ngIf="this.halfStar>0" name="md-star-half"></ion-icon>
          <ion-icon *ngFor="let es of this.emptyStarArray" name="md-star-outline"></ion-icon>
          <label>({{this.ratersCount}})</label>
        </ion-row>
      </div>
    </ion-row>
  </div>
  <ion-list *ngFor="let group of eventsGroup; let i = index">
    <div ngClass="item-header">{{group.groupName}}</div>
    <ion-card *ngFor="let event of group.mosqueEvents" ngClass="card-general" (click)="eventdetailsPage(event)">
      <ion-item ngClass="events-list">
        <ion-row>

          <ion-col col-10 col-md-11>
            <div ngClass="mosque-name">
              <!-- <label>{{event.category}} - {{event.event_title}}</label> -->
              <label>{{event.event_title}}</label>
            </div>
            <div ngClass="mosque-address">
              <label>{{getEventDate(event.event_start_date)}}-{{getEventDate(event.event_end_date)}} |
                {{(event.mosque_details && event.mosque_details.length>0)?event.mosque_details[0].title:''}}</label>
            </div>
          </ion-col>
          <ion-col col-2 col-md-1 [hidden]="group.groupName==HISTORY">
            <div ngClass="quota-total" *ngIf="event.quota!=0">{{getSeatsLeft(event)}}</div>
            <div ngClass="quota-total" *ngIf="event.quota==0">
              <ion-icon name="infinite"></ion-icon>
            </div>
            <div ngClass="quota-title">Seat Left</div>
          </ion-col>
          <ion-col col-2 col-md-1 [hidden]="group.groupName!=HISTORY">
            <div ngClass="event-item-right">
              <div ngClass="quota-total">{{event.userCount}}</div>
              <div ngClass="quota-title" text-wrap text-center>Members Joined</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
    <ion-item ngClass="events-list" [hidden]="group.mosqueEvents && group.mosqueEvents.length>0">
      <ion-row>
        <ion-col col-12 col-md-12>
          <div ngClass="mosque-address">
            {{group.groupName}} Event - Currently Not Available
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>