<ion-header class="mm-header">
  <ion-navbar hideBackButton="true">
    <ion-buttons start left>
      <button ion-button large (click)="goBack()">
        <ion-icon name="arrow-back" ngClass="back-btn"><span></span></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Mosque Profile<page-notification-bell></page-notification-bell>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="body-style">
  <div ngClass="home-header" [style.backgroundImage]="'url('+mosque.photo+')'">
    <div ngClass="overlay"></div>
    <ion-row>
      <!-- <ion-col col-3>
        <div class="mosque-logo">
          <img [src]="mosque.icon">
        </div>
      </ion-col> -->
      <ion-col col-12>
        <div ngClass="mosque-name">
          <label>{{mosque.title}}</label>
        </div>
        <div ngClass="mosque-address">
          <label>{{mosque.address}}</label>
        </div>
      </ion-col>
      <ion-row ngClass="details-name-container" *ngIf="this.mosque.mosque_url && this.mosque.mosque_url.length>0">
        <div ngClass="details-label">Extra info:</div>
        <div ngClass="details-name">
          <div *ngIf="this.mosque.mosque_url && this.mosque.mosque_url.length>0">
            <ion-chip *ngFor="let u of mosque.mosque_url; let i = index" (click)="openLink(u)">
              <ion-label>{{u.displayText}}</ion-label>
            </ion-chip>
          </div>
        </div>
      </ion-row>
      <ion-col col-12>
        <!-- <div ngClass="event-details-right pts-container">
          <div ngClass="details-label mb-1" [hidden]="true">Total Points</div>
          <div ngClass="pts-total" [hidden]="true">5
            <span ngClass="pts-title" [hidden]="true">pts</span>
          </div>
        </div> -->
        <div ngClass="details-label map">Open Maps</div>
        <ion-icon name="ios-navigate" ngClass="map-icon mt-1" (click)="openMap()"></ion-icon>
      </ion-col>
      <div ngClass="seperator-h sm"></div>
      <div ngClass="profile-points">
        <ion-row ngClass="ustaz-profile">
          <div ngClass="details-label">Overall Ratings</div>
          <div *ngIf="this.userType && this.userType=='USER'" ngClass="profile-redeem" (click)="popoverRating($event)">
            Rate This Mosque
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </div>
        </ion-row>
        <ion-row ngClass="rate-star">
          <ion-icon *ngFor="let fs of this.fullStaryArray" name="md-star"></ion-icon>
          <ion-icon *ngIf="this.halfStar>0" name="md-star-half"></ion-icon>
          <ion-icon *ngFor="let es of this.emptyStarArray" name="md-star-outline"></ion-icon>
          <label>({{this.mosqueRatersCount}})</label>
        </ion-row>
      </div>
      <!-- <button ngClass="infaq-btn" (click)="infaqPage()">Tanya Ustaz</button>
      <button ngClass="infaq-btn" (click)="infaqPage()">Feedback Masjid</button>
      <button ngClass="infaq-btn" (click)="infaqPage()">Infaq</button> -->
    </ion-row>
  </div>
  <ion-list>
    <div *ngFor="let event of events; let i = index">

      <div ngClass="item-header"
        *ngIf="((event._id==currFirstActive) || (event._id==currFirstUpcoming) || (event._id==currFirstHistory))">
        {{event.event_header}}</div>

      <!-- Other Event Status -->
      <!-- <div ngClass="item-header">Upcoming</div>
    <div ngClass="item-header">Completed</div> -->

      <ion-card ngClass="card-general" (click)="eventdetailsPage(event, i)">
        <ion-item ngClass="events-list">
          <ion-row>
            <ion-col col-10 col-md-11>
              <div ngClass="event-title">
                <!-- <label>{{event.category}} - {{event.event_title}}</label> -->
                <label>{{event.event_title}}</label>
              </div>
              <div ngClass="item-dateloc">
                <label>{{getEventDate(event.event_start_date)}}-{{getEventDate(event.event_end_date)}} </label>
              </div>
            </ion-col>
            <ion-col col-2 col-md-1>

              <!--If Already Join-->
              <!--ion-icon ngClass="attendance-tick" ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon-->

              <!--If Not Joining Yet-->
              <div ngClass="quota-total" *ngIf="event.quota!=0">{{getSeatsLeft(event)}}</div>
              <div ngClass="quota-total" *ngIf="event.quota==0">
                <ion-icon name="infinite"></ion-icon>
              </div>
              <div ngClass="quota-title">Seat Left</div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    </div>
    <!--ion-item ngClass="events-list" (click)="eventdetailsPage()">
      <ion-row>
        <label ngClass="event-title">Ceramah - Maulidur Rasul</label>
        <label ngClass="item-dateloc">2pm | Surau Menara TM Kuala Lumpur</label>
      </ion-row>
    </ion-item>
    <div ngClass="item-header">Up Coming</div>
    <ion-item ngClass="events-list" (click)="eventdetailsPage()">
      <ion-row>
        <label ngClass="event-title">Ceramah - Maulidur Rasul</label>
        <label ngClass="item-dateloc">2pm | Surau Menara TM Kuala Lumpur</label>
      </ion-row>
    </ion-item>
    <div ngClass="item-header">Completed</div>
    <ion-item ngClass="events-list" (click)="eventdetailsPage()">
      <ion-row>
        <label ngClass="event-title">Ceramah - Maulidur Rasul</label>
        <label ngClass="item-dateloc">2pm | Surau Menara TM Kuala Lumpur</label>
      </ion-row>
    </ion-item-->
  </ion-list>

  <!-- <ion-fab>
    <button ion-fab mini (click)="feedbackPage()">
      <ion-icon name="ios-happy-outline"></ion-icon>
    </button>
  </ion-fab> -->

  <ion-fab bottom="" right="" *ngIf="mosque.isRegistered">
    <button color="light" ion-fab="" class="fab fab-ios fab-ios-light float-btn" style="transition: none 0s ease 0s;">
      <ion-icon class="fab-close-icon icon icon-ios ion-ios-close" name="close" role="img" aria-label="close">
      </ion-icon><span class="button-inner">
        <ion-icon name="arrow-dropup" role="img" class="icon icon-ios ion-ios-arrow-dropleft"
          aria-label="arrow dropleft"></ion-icon>
      </span>
      <div class="button-effect"></div>
    </button>
    <ion-fab-list side="top" class="">
      <button ion-fab="" class="fab fab-ios fab-in-list fab-ios-in-list float-btn-sub" (click)="kariahPage()"
        [hidden]="!showKariahButton">
        <ion-icon class="fab-close-icon icon icon-ios ion-ios-close" name="close" role="img" aria-label="close">
        </ion-icon><span class="button-inner">
          <ion-icon name="ios-people" role="img" class="icon" aria-label="logo infaq"></ion-icon>
        </span>
        <div class="button-effect"></div>
        <ion-label>Kariah</ion-label>
      </button>
      <button ion-fab="" class="fab fab-ios fab-in-list fab-ios-in-list float-btn-sub" (click)="mosqueFeedbackPage()">
        <ion-icon class="fab-close-icon icon icon-ios ion-ios-close" name="close" role="img" aria-label="close">
        </ion-icon><span class="button-inner">
          <ion-icon name="mail-open" role="img" class="icon" aria-label="logo feedback"></ion-icon>
        </span>
        <div class="button-effect"></div>
        <ion-label>Mosque Feedback</ion-label>
      </button>
      <!-- <button ion-fab="" class="fab fab-ios fab-in-list fab-ios-in-list float-btn-sub" (click)="askUstazPage()">
        <ion-icon class="fab-close-icon icon icon-ios ion-ios-close" name="close" role="img" aria-label="close">
        </ion-icon><span class="button-inner">
          <ion-icon name="md-chatbubbles" role="img" class="icon" aria-label="logo tanya ustaz"></ion-icon>
        </span>
        <div class="button-effect"></div>
        <ion-label>Tanya Ustaz</ion-label>
      </button> -->
      <!-- <button ion-fab="" class="fab fab-ios fab-in-list fab-ios-in-list float-btn-sub" (click)="infaqPage()">
        <ion-icon class="fab-close-icon icon icon-ios ion-ios-close" name="close" role="img" aria-label="close">
        </ion-icon><span class="button-inner">
          <ion-icon name="md-cash" role="img" class="icon" aria-label="logo infaq"></ion-icon>
        </span>
        <div class="button-effect"></div>
        <ion-label>Infaq</ion-label>
      </button> -->
    </ion-fab-list>
  </ion-fab>

</ion-content>